<div id='{{componentName}}' class="visual_{{componentName}} position_{{componentName}}">
  <div class="visual_input_label">Nom de la rue</div>
  <input class="visual_input_field position_input_field" value="{{street_name}}" onkeyup="CLoader.findObject('{{componentName}}').on_key_up(event)" />

  <div class="visual_input_label">Code postal</div>
  <input class="visual_input_field position_input_field" value="{{postal_code}}" />

  <div class="visual_input_label">Ville</div>
  <input class="visual_input_field position_input_field" value="{{city}}"  />
</div>


